<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Web Dev</title>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <h1>Bem-vindo ao meu site</h1>
        <p>Este é um exemplo de página HTML simples para eu praticar programação web.</p>
    </header>

    <main>
        <section>
            <h2>Sobre mim</h2>
            <p>Projeto Webdev HTML, CSS e JavaScript.</p>
        </section>

        <section>
            <h2>Minhas coisas favoritas</h2>
            <ul>
                <li>Programação</li>
                <li>Palmeiras</li>
                <li>Internet</li>
            </ul>
        </section>

        <section>
            <h2>Imagem de exemplo</h2>
            <img src="https://artpoin.com/wp-content/uploads/2023/08/artpoin-palmeiras5.png" 
                 alt="Imagem de exemplo">
        </section>

        <section>
            <button onclick="mensagem()">PALMEIRAS</button>
        </section>

        {{{ body }}}

    </main>

    <footer>
        <p>Site criado para estudo de Web Development</p>
    </footer>

    <script src="js/script.js"></script>

</body>
</html>