<section>
    <h2>Contato</h2>
    <p>Entre em contato comigo através dos dados abaixo:</p>
    <ul>
        <li>Email: enricobcarmelo@gmail.com</li>
        <li>Telefone: 40028922 </li>
        <img src="https://images.seeklogo.com/logo-png/64/1/palmeiras-mascote-porco-verdao-futebol-clube-logo-png_seeklogo-640463.png" 
         alt="Imagem de exemplo">
    </ul>
</section>