<section>
    <h2>Sobre mim</h2>
    <p>Projeto Webdev HTML, CSS e JavaScript.</p>
</section>

<section>
    <h2>Minhas coisas favoritas</h2>
    <ul>
        <li>Programação</li>
        <li>Palmeiras</li>
        <li>Internet</li>
    </ul>
</section>

<section>
    <h2>Imagem de exemplo</h2>
    <img src="https://artpoin.com/wp-content/uploads/2023/08/artpoin-palmeiras5.png" 
         alt="Imagem de exemplo">
</section>

<section>
    <button onclick="mensagem()">PALMEIRAS</button>
</section>