<section>
    <h2>Serviços</h2>
    <p>Confira abaixo os serviços oferecidos:</p>
    <img src="https://images.seeklogo.com/logo-png/10/2/palmeiras-logo-png_seeklogo-105553.png" 
         alt="Imagem mancha verde">
    <ul>
        <li>Desenvolvimento Web</li>
        <li>Criação de Sites</li>
        <li>Manutenção de Sistemas</li>
    </ul>
</section>