<section>
    <h2>Sobre Mim</h2>
    <p>Sou estudante de desenvolvimento web e este é meu projeto de estudo.</p>
</section>

<section>
    <h2>Objetivo do Projeto</h2>
    <p>Aplicar conceitos de HTML, CSS, JavaScript e Node.js com Express e Handlebars.</p>
    <p>Projeto para professor VANDREI</p>
    <img src="https://jogada10.com.br/wp-content/uploads/2026/02/Flaco-Lopez-contra-corinthians-paulista-2026.jpg" 
         alt="Imagem gol flaco lopez">
</section>